{
  "elasticsearch": {
    "host": "elasticsearch",
    "port": 9200,
    "sslEnabled": false,
    "sslStrictEnabled": false,
    "timeoutSeconds": 10,
    "urlPrefix":""
  },
  "elastalert": {
    "index": "elastalert_status",
    "silenceMinutes": 240,
    "recentMinutes": 4320
  },
  "smtp": {
    "host": "email-smtp.us-east-1.amazonaws.com",
    "port": 587,
    "secure": false,
    "starttls": true,
    "timeout": 4,
    "to": "jira@mycompany.atlassian.net",
    "from": "engineering_team@mycompany.invalid",
    "subjectPrefix": "[PROD] ",
    "debug": false
  },
  "commandPrefix": "!",
  "triageTarget": "smtp"
}
